<p>1 Bitcoin is valued at $<%= @usd_rate %> USD.</p>
<p>Your Bitcoin is worth $<%= @usd_value %>.</p>

<form action="/bitcoins" method="POST">
  <input type="text" name="amount" placeholder="How many bitcoins?">
  <button>Submit!</button>
</form>