<!-- Company details page -->

<h1><%= @company["name"] %></h1>

<h2><%= @company["city"] %>, <%= @company["state"] %></h2>

<h3>Contacts</h3>

<ul>
  <li>Michael Scott</li>
  <li>Dwight Schrute</li>
</ul>

<p>
  <a href="">New Contact</a>
</p>

<p>
  <a href="">Back to All Companies</a>
</p>
